#wrapper {
    width: 100%;
}

body {
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 0px 0px 0px 0px;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    padding-right: 55px;
}

tr:nth-child(even) {
    background-color: #ececd8;
}

th {
    background-color: #52b506;
    color: white;
}

img {
    width: 25px;
    height: 15px;
    padding-right: 5px;
}